.started {
  max-width: 900px;
  margin: 100px auto 70px;
  border-radius: 30px;
  background-color: #fbfbfb;
  position: relative;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  *:not(img) {
    position: relative;
    z-index: 100;
  }
  &-heading {
    margin-bottom: 30px;
    // Luu y
  }
  &-desc {
    max-width: 245px;
    margin-bottom: 50px;
    color: $gray-dark;
    // luu y
  }
  &-caption {
    margin-bottom: 20px;
  }
  &-left {
    position: absolute;
    bottom: 50px;
    left: 50px;
    transform: translate(-50%, 25%) scale(0.7);
  }
  &-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -40%);
  }
}
@media screen and (max-width: 767px) {
  .started {
    margin-top: 0;
  }
  .started-left,
  .started-right {
    max-width: 50%;
    transform: none;
  }
}
